node_modules/
dist/
test-results/
playwright-report/

# IntelliJ IDEA project files
.idea/
*.iml
*.iws
*.ipr

# Maven target directory
/target/

# Gradle build directories and files
.gradle/
/build/
# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# Byte-code and temporary files
*.class
*.jar
*.war
*.exe # Example for ignoring executables in general

# Mac specific files
.DS_Store

# Log files
*.log
